<div class="tabs is-centered is-medium">
  <ul>
    <li id="user"><a href="/">Home</a></li>
  </ul>
</div>

<script>
  document.getElementById("{{active}}").classList.add('is-active');
</script>

<section class="content">
  {{> title}}
  <form action="/admin/authenticate" method="POST">
    <div class="field">
      <label class="label">Password</label>
      <input class="input" type="password" placeholder="Enter Password" name="password" />
    </div>
    <br />
    <div class="field is-grouped">
      <button class="button is-danger is-fullwidth">Submit</button>
    </div>
  </form>
</section>