{{> welcome-menu active="home"}}

<section class="content">
  {{> title}}
  <div class="content">
    <p>Hello, welcome to Place <i style="font-size: 15px; color: hsl(348, 100%, 61%);" class="fas fa-map-marker-alt"></i> mark. A point of interest web application.</p>
  </div>
  <h1 class="title">About</h1>
  <hr />
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Auctor neque vitae tempus quam pellentesque nec.
      Arcu odio ut sem nulla pharetra diam. Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque. Integer vitae justo eget magna fermentum iaculis eu. Odio eu
      feugiat pretium nibh ipsum consequat. Vel elit scelerisque mauris pellentesque. Sit amet consectetur adipiscing elit. Fermentum odio eu feugiat pretium nibh ipsum. Diam
      maecenas sed enim ut. Sit amet tellus cras adipiscing enim eu turpis egestas pretium. Pellentesque nec nam aliquam sem et tortor consequat id porta. Sapien nec sagittis
      aliquam malesuada bibendum arcu vitae. Cursus euismod quis viverra nibh cras pulvinar mattis. Nulla pellentesque dignissim enim sit amet. Sociis natoque penatibus et magnis
      dis parturient montes nascetur ridiculus.</p>
  </div>
</section>
<section class="section">
  <div class="columns is-centered">
    <img src="/images/world.jpg" />
  </div>
</section>