<form action="/theme/{{theme._id}}/add" method="POST" class="panel is-dark">
  <p class="panel-heading">Add Place Mark</p>
  <div class="field-body panel-block">
    <div class="field">
      <label class="label">Name</label>
      <input class="input" type="text" placeholder="Enter name" name="name" />
    </div>
  </div>
  <div class="field-body panel-block">
    <div class="field">
      <label class="label">Longitude</label>
      <input class="input" type="text" placeholder="Enter longitude" name="lon" />
    </div>
  </div>
  <div class="field-body panel-block">
    <div class="field">
      <label class="label">Latitude</label>
      <input class="input" type="text" placeholder="Enter latitude" name="lat" />
    </div>
  </div>
  <div class="field-body panel-block">
    <div class="field">
      <label class="label">Description</label>
      <textarea class="textarea" type="text" placeholder="Enter description" name="desc"></textarea>
    </div>
  </div>
  <div class="panel-block">
    <button class="button is-danger is-fullwidth">
      Submit
    </button>
  </div>
</form>
