<form action="/dashboard/add" method="POST">
  <div class="field">
    <label class="label">Place Mark Name</label> <input class="input" type="text" placeholder="Enter place mark name" name="name">
  </div>
  <button class="button is-link">Add Place Mark</button>
</form>
