<form action="/dashboard/add" method="POST">
  <div class="field">
    <label class="label">Place Mark App Theme</label> <input class="input" type="text" placeholder="Enter name of Place Mark app theme" name="name">
  </div>
  <button class="button is-link">Add Place Mark App Theme</button>
</form>
