<form action="/dashboard/add" method="POST" class="panel is-danger">
  <p class="panel-heading">Add Place Mark</p>
  <div class="field-body panel-block">
    <div class="field">
      <label class="label">Name</label>
      <input class="input" type="text" placeholder="Enter name" name="name" />
    </div>
  </div>
  <div class="panel-block">
    <button class="button is-dark is-fullwidth">
      Submit
    </button>
  </div>
</form>
