{{#each places}}
  <div class="box box-link-hover-shadow">
    <h2 class="title">
      {{name}}
    </h2>
    <a href="/dashboard/delete/{{_id}}" class="button">
      <i class="fas fa-trash"></i>
    </a>
  </div>
{{/each}}