<div class="title m-5 is-flex columns is-centered">
  <div style="font-size: 60px;" class="mr-4">Place </div>
  <i style="font-size: 60px; color: hsl(348, 100%, 61%);" class="fas fa-map-marker-alt"></i>
  <div style="font-size: 60px;" class="ml-4">Mark</div>
</div>