<div class="title p-3 is-flex">
  <div style="font-size: 48px;" class="mr-4">Place </div>
  <i style="font-size: 48px; color: turquoise;" class="fas fa-map-marker-alt"></i>
  <div style="font-size: 48px;" class="ml-4">Mark</div>
</div>